{{!-- <html>

<head>
    <title>Welcome to Da Krab Shack! </title>

    <body style="background-color:yellow;">
        
        <center>
        <img width="200" height="200" src="./assets/img/maxresdefault.jpg">


        <form data-id="{{this.id}}" class="update-form">

            <div class="form-group">
                <label for="auth">Have it your way: type in the burger you want to eat</label><br>
                <input type="text" id="auth" name="author" value="{{this.author}}">
            </div>

        

            <button type="submit">Order up!</button><br>
            <button type="submit">Devour it!</button>
        </form>
</center>
    </body>
</head>

</html> --}}